<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Créditos</title>
        <meta name="description" content="Créditos">
        <link rel="stylesheet" href="style.css" type="text/css" media ="screen,projection">
        <link rel="stylesheet" href="smartphones.css" type="text/css" media ="only screen and (max-device-width:480px)">
         <link rel='icon' href='favicon.ico' type='image/x-icon' />
    </head>
    
    <body>

        <center><h1 class='titulo'><u>Créditos</u></h1></center>
    
        <center><p>Autores:</p></center>
     
        <center>
            <a class="title"><b>María García Fernández</b></a>
            <a class="title" style="padding-left: 8em"><b>Hector Carretero Carmona</b></a>
        </center>
        <br>
        <center>
        <table border ="1">
            <tr>
                <td align=center>
                    <img src="images/Maria.png" 
                        width="250" 
                        height="358"/></td>
                <td align=center>
                    <img src="images/Hector.png" 
                        width="250" 
                        height="358"/></td>
            </tr>
        </table>      
        </center>
       
    </body>
     
    <footer class='footer'>
        <div> 
            <hr style="color: #FFFFFF"/>

            <a style="padding-left: 1em">Posted by:</a>
            <a style="padding-left: 1em">María García Fernández</a> 
            <a style="padding-left: 5em">Contact information:</a>
            <a style="padding-left: 1em"
               href="mailto:maria.garciaf@alumnos.upm.es">maria.garciaf@alumnos.upm.es</a>     
           <br> 
            
            <a style="padding-left: 7em">Hector Carretero Carmona</a>
            <a style="padding-left: 14.4em"
               href="mailto:maria.garciaf@alumnos.upm.es">hector.ccarmona@alumnos.upm.es</a>      
            <a style="padding-left: 10em">
                <script type="text/javascript">                    
                    document.write(new Date()); 
                </script></a>
        </div>
                
    </footer>

    </html>