* {
	margin: 0; 
	padding:0;
}

body {
  font: 16px Georgia, serif;
  color: black;
}

#page-wrap{
	
	margin: 2% auto;
	color: black;
}

.right{
	float:right;
}

.quiz_img{
	height:150px;
	float:left;
}

#page-wrap > .main {
	border-left: 1px solid #ccc; 
	border-right: 1px solid #ccc; 
	padding: 1%;
	margin-bottom: 1px;
	color: black;
}

section > div {
  padding: 20px;
}

header, nav, section {
	background: #eee;
	text-align: center;
}

footer{
	background: #eee;
	text-align: center;
}

#f1{
border-top: 1px solid #ccc; 
}

table.tabla{
	width: 700px;
	height: 50px;
}
table.tabla2{
	width: 500px;
	height: 50px;
}

nav span {
	margin: 0px 10px 0px 0px;
}

#ErrorMsgs{
	color: #f61;
	font-size: smaler;
}