body {
  background: #999;
  color: black;
}

#page-wrap: after {
	content: "Wide Layout";
}

nav {
	float: left;
	width: 15%;
	height: 528px;
}

section {
	float: center;
    height: 550px;
}

footer{
	clear: both;
	display: block;
}