<!DOCTYPE html>
<html>
  <head>
    <link rel='icon' href='/public/favicon.ico' type='image/x-icon' />
    <meta charset="utf-8"><title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2>Quiz: el juego de las preguntas></h2>
      
    <form method="get" action="/quizes/answer">
      <p>Respuesta:<%= respuesta %></p>
        <a href="quizes/question">Inténtelo otra vez </a>
    </form>  
  </body>
</html>
