<!DOCTYPE html>
<html>
  <head>
    <link rel='icon' href='favicon.ico' type='image/x-icon' />
    <title>Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Bienvenido a Quiz</h1>
    <br>
    <p>El portal donde podrá crear sus propios juegos!</p>
    <br>
    <table>
    <%= var i; for (i=0; i <quizes.length; i++) { %>
        <tr><td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td></tr>
    <%= } %>
    </table>
  </body>
</html>
