<!DOCTYPE html>
<html>
  <head>
    <link rel='icon' href='favicon.ico' type='image/x-icon' />
    <title>Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
   <p> Hola!</p>
   <center>
    <table class="tabla">
    <% var i; for (i=0; i < quizes.length; i++) { %>
        <tr><td align=center><a href="quizes/<%= quizes[i].id %>">Pregunta <%= i+1 %>. <%= quizes[i].pregunta %></a></td></tr>
     <% } %>
    </table>
  </center>
  </body>
</html>
