<!DOCTYPE html>
<html>
  <head>
    <link rel='icon' href='favicon.ico' type='image/x-icon' />
    <title>Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
   <center>
    <table class="tabla">
      <%
        var quizesAux;
        var quizesAux2;
        var i;
        %>
        <% function ordenar(){
          for (i=0; i < quizes.length; i++) {
            quizesAux[i] = quizes[i].pregunta;
          } 
        }%>
      <%ordenar(); %>
       <% for (i=0; i < quizesAux.length; i++) { %>
        <tr><td align=center><a href="quizes/<%= quizesAux[i].id %>">Pregunta <%= i+1 %>. <%= quizesAux[i].pregunta %></a></td></tr>
     <% } %>
    </table>
  </center>
  </body>
</html>
