<!DOCTYPE html>
<html>
  <head>
    <link rel='icon' href='favicon.ico' type='image/x-icon' />
    <title>Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
   <center>
    <table class="tabla">
        <% var i; for (i=0; i < quizes.length; i++) {
            alert(quizes[i].pregunta);
          }
        %>
       <% var j; for (j=0; j < quizesAux.length; j++) { %>
        <tr><td align=center><a href="quizes/<%= quizesAux[j].id %>">Pregunta <%= j+1 %>. <%= quizesAux[j].pregunta %></a></td></tr>
     <% } %>
    </table>
  </center>
  </body>
</html>
