<!DOCTYPE html>
<html>
  <head>
    <link rel='icon' href='favicon.ico' type='image/x-icon' />
    <title>Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
   <center>
    Añadir pregunta: <p>
    <form method="post" action="/quizes/create" >
      <% include _form.ejs %>
    </form>
    Añadir comentario: <p>
    <form method="post" action="/quizes/<%=quizid%>/comments/" >
      <input type="text" id="comment" name="comment[texto]" value""/><p>
      <button type="submit">Enviar</button>
    </form>
  </center>
  </body>
</html>
