<!DOCTYPE html>
<html>
  <head>
    <link rel='icon' href='favicon.ico' type='image/x-icon' />
    <title>Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
   <center>
        <p>
    <form method="post" action="/create" >
      Añadir una nueva pregunta: <p>
      <% include _form.ejs %>
    </form>
  </center>
  </body>
</html>
