<!DOCTYPE html>
<html>
  <head>
    <link rel='icon' href='favicon.ico' type='image/x-icon' />
    <title>Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
   <center>
    <p>Añadir pregunta </p>
    <form method="post" action="quizes/create" >
      <% include _form.ejs %>
    </form>
    </table>
  </center>
  </body>
</html>
